#payment{
    padding:1% 2% ;
    text-align: center;
}

.thankyou{
    padding:1% ;
    font-size: 1.5rem;
    color: #fff;
}

.first-section{
    background-image:url(../img/formBG.jpg);
}

.second-section{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:1%;
}
.total-amount{
    font-size: 2rem;;
   color: maroon;
}

.account-details{
    font-size: 1.5rem;
    color:blue;
}

.img-qrcode{
    width:18%;
    height:18%;
}

.payment-methods{
    font-size: 1.5rem;;
}

.screenshot{
    color: red;
}