/* -----------General -----------------------------*/
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #000000;
  font-family: 'Inter Tight', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Playfair Display', serif;
}

a {
  color: #ff7700;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #ff7700;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.color-h {
  color: #ff7700;
}

/*smoothing scroll */
* {
  scroll-behavior: smooth;
}

/*scroll bar effect*/
::-webkit-scrollbar {
  width: 12px;
  background: #ffffff80;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #ff7700;
}

.number-font {
  font-family: sans-serif !important;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ff7700;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #fff;
  border: #ff7700 2px solid;
}

.back-to-top:hover i {
  color: #ff7700;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}



/*--------------------------------------------------------------
# hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/collegeBG.png) top center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero .hero-container img {
  height: 15rem;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 5rem;
  font-weight: 700;
  line-height: 49px;
  text-transform: uppercase;
  color: #fff;
}


#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 2rem;
  margin-top: 20px;
  letter-spacing: 5px;
}

#para {
  color: white;
  margin-bottom: 50px;
  font-size: 1.4rem;
  margin-top: -15px;
}

/* Marqueee ----------------------- */
.mar {
  padding: 1rem;
  background: #ff7700;
}

#marquee {
  font-size: 1.8rem;
  color: white;
}

#marquee-link {
  color: blue;
  text-decoration: underline;
}

#marquee-link:hover {
  color: whitesmoke;
}

@media(max-width:768px) {
  #marquee {
    font-size: 1.2rem;
  }
}

/* About Us Section
--------------------------------*/
.aboutABGEC {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.aboutABGEC .about-square img {
  float: right;
  margin: 5px;
  margin-left: 4rem;
  margin-right: 10rem;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-bottom: 3rem;
  border: 6px solid rgb(22, 9, 168);
}

.aboutABGEC .about-square p {
  text-align: justify;
  font-size: large;
  margin-right: 10rem;
  margin-left: 10rem;
}

.aboutABGEC-head {
  text-align: center;
  font-size: 50px;
  margin-bottom: 1em;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  margin-left: 0;
}

/* features Section
--------------------------------*/
#features {
  background: url('../img/featuresBG.jpeg') no-repeat center/cover;
  padding: 20px;
  padding-top: 3rem;
  box-shadow: 7px 5px 20px;
}

.feature-head {
  text-align: center;
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
}

.slider-container {
  margin: 0 auto;
  padding: 0;
  width: 550px;
  min-height: 120px;
  text-align: center;
}

.slider-container p {
  margin: 10px 25px;
  font-weight: semi-bold;
  line-height: 150%;
  font-size: larger;
  color: white;
}

.carousel-cell {
  width: 100%;
  /* full width */
  height: auto;
  /* height of carousel */
}


/*---------messages section----------------------------*/
.message {
  margin-top: 4rem;
}

.message-heading {
  background: -webkit-linear-gradient(blue, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0em;
}

.message .square img {
  float: left;
  margin: 5px;
  margin-left: 10rem;
  margin-right: 4rem;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 3rem;
  border: 6px solid #ff7700;
}

.message .square p {
  text-align: justify;
  font-size: large;
}

.message-head {
  text-align: left;
  font-size: 45px;
  margin: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
}

.msg-content {
  column-count: 2;
  column-gap: 60px;
  column-width: 200px;
  padding-left: 7rem;
  padding-right: 10rem;
  margin-top: 1.5em;
}

.msg-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aliceblue;
}

.msg-header .msg-header-left {
  margin: 8rem;
  text-align: left;
  margin-top: auto;
}

.msg-header .msg-header-right {
  margin: 8rem;
}

.msg-header img {
  float: right;
  margin: 5px;
  height: 400px;
  margin-left: 8rem;
}

.president-msg-photo {
  background: url('../img/message/president.png') no-repeat center;
  height: 300px;
}

.principal-msg-photo {
  background: url('../img/message/principal.png') no-repeat center;
  height: 300px;
}

.secretary-msg-photo {
  background: url('../img/message/secretary.png') no-repeat center;
  height: 300px;
}


/* Invitation Section
--------------------------------*/
#invitation {
  background: #fff;
  padding: 80px 0;
  margin-top: 4rem;
}

#invitation h4 {
  color: black;
  text-align: center;
}

#invitation .invitation-container .background {
  min-height: 300px;
  margin-bottom: 10px;
}

#invitation .invitation-container .content {
  background: #fff;
  font-size: 20px;
  color: black;
  font-weight: 500;
  text-align: justify;
}

#invitation .invitation-container .title {
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}



/* Program schedule Section --------------------------------*/

#schedule {
  background: #fff;
  background-size: cover;
  padding: 8% 0 6% 0;
  background-image: linear-gradient(rgb(0, 34, 126), rgb(72, 127, 255));
  box-shadow: 7px 5px 30px;
  height: auto;

}

#schedule .box {
  padding: 8% 2%;
  margin-bottom: 8%;
  text-align: center;
  border: 6px solid rgb(255, 136, 0);
  border-radius: 20px;
  height: 80%;
  position: relative;
  background: #fafafa;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 3rem;
}

#schedule .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 70%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: rgb(255, 136, 0);
}

#schedule .icon a {
  display: inline-block;
  pointer-events: none;
}

#schedule .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

#schedule .box:hover .icon {
  background: #fff;
  border: 2px solid rgb(255, 136, 0);
}

#schedule .box:hover .icon i {
  color: #ff7700;
}

#schedule .box:hover .icon a {
  color: #ff7700;
}

#schedule .title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

#schedule .title a {
  color: #ff7700;
  pointer-events: none;
}

.recognition-heading {
  font-weight: 1500;
}

/* Executive TEAM SECTION  */
/* --------------------------- */
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 400px;
}

.one {
  height: 160px;
}

.two {
  height: 400px;
}

.three {
  text-align: center;
  font-size: 40px;
  color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
}

.four {
  text-align: center;
  font-size: 40px;
  color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20px;
}

.three_one,
.three_two,
.three_three {
  text-align: center;
  font-size: 40px;
  color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  right: 0;
  z-index: 1;
  border: 5px solid #fff;
  border-radius: 50%;
  border: 8px solid rgb(255, 136, 0);
}

.testimonials .testimonial-item h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin-top: 180px;
  margin-bottom: 5px;
  color: black;
}

.testimonials .testimonial-item h4 {
  font-size: 20px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

.title-executive {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 60px;
  color: #333;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 70px;
}


/* 
REGISTRATION SECTION ------------
--------------------------------*/
section {
  overflow: hidden;
}


/*
  Note
*/
.note {
  box-shadow: rgba(0, 0, 0, 0.152) 0px 4px 12px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.note h2 {
  text-align: center;
  text-decoration: underline;
}

.ol-list {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/*
Note End
*/
.section-header .section-title {
  font-size: 3rem;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #111;
}

.accomodation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accomodation-head {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.cordinator {
  align-items: center;
  margin-top: 2rem;
}

.cordinator tr:last-child {
  border-bottom: none;
}

#contact {
  background: #f7f7f7;
  border: 5px solid rgb(22, 9, 168);
  border-radius: 10px;
  margin: 10px 20px;
  padding: 60px 0 40px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-top: 5rem;
}


#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #2dc997;
  float: left;
  line-height: 0;
}

#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

#contact .info .email p {
  padding-top: 5px;
}

#contact .social-links {
  padding: 20px 0;
}

#contact .social-links a {
  font-size: 18px;
  background: #333;
  color: #fff;
  line-height: 1;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#contact .social-links a i {
  line-height: 0;
}

#contact .social-links a:hover {
  background: #2dc997;
  color: #fff;
}

.members-link {
  text-decoration: underline;
  text-align: center;
}

.members-link a {
  color: blue;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.reg-content li {
  font-size: 23px;
}

/*registration responsive*/
@media (max-width: 768px) {
  #contact {
    width: 100%;
  }

  .reg-container {
    width: 100%;
  }

  .reg-title span {
    text-align: center;
    font-size: 2rem;
  }

  .section-description {
    font-size: 1.1rem;
    align-items: center;
  }

  .section-header h4 {
    text-align: center;
    font-size: 1.22rem !important;
  }

  .section-header h4 sup {
    text-align: center;
    font-size: 0.6rem !important;
  }

  .section-header .section-title {
    margin-bottom: 15px;
  }

  #contact {
    padding: 20px 2px 20px 2px;
  }

  .reg-text-format {
    font-size: 1.1rem;
    text-align: justify;
    text-justify: inter-word;
  }

  table tr th {
    font-size: 1rem;
  }

  table tr td {
    font-size: 1rem;
    color: #000;
  }

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #343b40;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

/* REGISTRATION  */

.reg-title {
  color: #01bea6;
}

#reg-contact .box {
  height: 10px;
}

.color-red {
  color: red;
}


/* CONTACT US  */
/* --------------------------------- */

#contact-us {
  text-align: center;
  margin-top: 3%;
  background-color: #f3f6fa;
}

.container-fluid {
  padding: 1% 1% 3%;
}

.heading-contact {
  color: rgb(1, 190, 166);
  text-align: center;
  font-weight: bold;
}

/* .contact-us .row  */
.col {
  background-color: #e8f0f9;
  margin: 2% 1%;
  box-shadow: 10px 15px 20px #888888;
  height: 40vh;
  border: 5px solid rgb(22, 9, 168);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#contact-us p {
  margin: 0;
  font-size: 1.2rem;
  padding: 2px 10px;
}

#contact-us a {
  margin: 0;
  font-size: 1.2rem;
  padding: 5px 10px;
}

#contact-us h5 {
  margin-bottom: 0;
  font-weight: 400;
}

.contact-title {
  font-style: italic;
}

#contact-us .social-media-links {
  padding: 1em 1em;
  background-color: #0b1320;
  height: auto;
}

.social-media {
  color: #fff;
  font-size: 2.5rem;

}

.social-media-links .address p {
  color: white;
  font-size: 0.93rem !important;
  text-align: center;
}

.social-media-links .address h4 {
  color: white;
  font-weight: bold;
}

.address {
  margin-bottom: 30px;
  margin-top: 30px;
}


.contactus-head {
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}

@media (max-width:768px) {
  .contactus-head {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .container-fluid .row .col {
    margin-top: 2rem;
    margin-left: 1em;
    margin-right: 1em;
  }

}


/* BUTTON REGISTER  */
/* --------------------------------- */
.button-div {
  display: flex;
}

.reg-button {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@-webkit-keyframes glowing {
  0% {
    background-color: rgb(22, 9, 168);
    -webkit-box-shadow: 0 0 2px rgb(22, 9, 168);
  }

  50% {
    background-color: rgb(22, 9, 168);
    -webkit-box-shadow: 0 0 20px rgb(22, 9, 168);
  }

  100% {
    background-color: rgb(22, 9, 168);
    -webkit-box-shadow: 0 0 2px rgb(22, 9, 168);
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: rgb(22, 9, 168);
    -moz-box-shadow: 0 0 2px rgb(22, 9, 168);
  }

  50% {
    background-color: rgb(22, 9, 168);
    -moz-box-shadow: 0 0 20px rgb(22, 9, 168);
  }

  100% {
    background-color: rgb(22, 9, 168);
    -moz-box-shadow: 0 0 2px rgb(22, 9, 168);
  }
}

@-o-keyframes glowing {
  0% {
    background-color: rgb(22, 9, 168);
    box-shadow: 0 0 2px rgb(22, 9, 168);
  }

  50% {
    background-color: rgb(22, 9, 168);
    box-shadow: 0 0 20px rgb(22, 9, 168);
  }

  100% {
    background-color: rgb(22, 9, 168);
    box-shadow: 0 0 2px rgb(22, 9, 168);
  }
}

@keyframes glowing {
  0% {
    background-color: rgb(22, 9, 168);
    box-shadow: 0 0 2px rgb(22, 9, 168);
  }

  50% {
    background-color: rgb(22, 9, 168);
    box-shadow: 0 0 20px rgb(22, 9, 168);
  }

  100% {
    background-color: rgb(22, 9, 168);
    box-shadow: 0 0 2px rgb(22, 9, 168);
  }
}

.reg-date {
  font-weight: bold;
  color: red;
  text-align: center;
}

.special-note {
  background-color: rgb(190, 229, 255);
  text-align: center;
  padding: 2% 10%;
  font-weight: 500;
}

.button-div a:hover {
  color: red;
  text-decoration: none;
}


/*------RESPONSIVE CODE (Media Queries)------*/

@media screen and (max-width: 768px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  [data-aos-delay] {
    transition-delay: 0 !important;
  }

  #hero {
    width: 100vw;
  }

  #hero h1 {
    font-size: 40px;
    line-height: 47px;
  }

  #hero h2 {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }

  #hero #para {
    color: white;
    margin-bottom: 50px;
    font-size: 0.8rem;
    margin-top: 1em;
    padding: 0 1em;
    letter-spacing: 0.15rem;
  }

  #hero .hero-container img {
    height: 8rem;
    margin-top: 30px;
  }

  /*About us*/
  .aboutABGEC {
    width: 100vw;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .aboutABGEC .about-square {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .aboutABGEC .about-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    text-align: center;
  }


  .aboutABGEC .about-square-img {
    text-align: center;
    margin-bottom: 0;

  }

  .aboutABGEC .about-square img {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    height: 250px;
    margin-top: 3rem;
    margin-bottom: 0;
    overflow: hidden;
    margin-right: 10%;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 3rem;
    border: 6px solid rgb(22, 9, 168);
  }

  .aboutABGEC .about-square p {
    text-align: justify;
    font-size: 1rem;
    margin: 1rem 1rem;
  }

  .aboutABGEC-head {
    text-align: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    margin-left: 0;
    /* margin-left: 2rem; */
  }

  /*about us end*/


  /*features*/
  #features {
    padding: 1em 0;
  }

  .feature-head {
    margin-top: 1em;
  }

  .slider-container p {
    font-weight: semi-bold;
    line-height: 150%;
    font-size: 1rem;
    color: white;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0.8em;
  }

  /*features end*/


  .message .square p {
    text-align: justify;
    font-size: 1rem;
    margin: 1rem 0.5rem;
    padding: 0.5em;
  }

  .president-msg-photo {
    height: 50vh;
    background: url('../img/message/1.png') no-repeat center;
  }

  .principal-msg-photo {
    height: 50vh;
    background: url('../img/message/3.png') no-repeat center;
  }

  .secretary-msg-photo {
    height: 50vh;
    background: url('../img/message/2.png') no-repeat center;
  }

  .msg-content {
    padding: 0;
  }

  /*invitation*/
  #invitation {
    background: #fff;
    padding: 1em 0;
    margin-top: 0.7em;
    border: 5px solid rgb(22, 9, 168);
    margin: 0 0.3em;
  }

  #invitation .invitation-container .title {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 0;
  }

  .invitation-head {
    font-size: 1.3rem !important;
  }

  .invitation-subHead {
    font-size: 1.15rem !important;
  }

  #invitation .invitation-container p {
    line-height: 30px;
    font-size: 1.1rem;
  }

  #invitation .invitation-container p strong {
    font-size: 1.1rem !important;
  }

  #invitation .invitation-container p:last-child {
    margin-bottom: 0;
  }

  #schedule {
    background: #fff;
    background-size: cover;
    padding: 8% 0 6% 0;
    background-image: linear-gradient(rgb(0, 34, 126), rgb(72, 127, 255));
    box-shadow: 7px 5px 30px;
    height: auto;
    margin: 1em 0;
  }

  #schedule .section-title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  #schedule .title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
  }

  .social-media-links {
    padding: 0.5em;
  }

  .social-media-links a i {
    font-size: 2rem;
  }

  .invitation-quote {
    font-size: 1.1rem !important;
  }

}